  body {
    background-color: #f74c4c;
  }
  
  /*heading1*/
  h1 {
    color: white;
    font-family: Verdana;
    position: relative;
  }

  img {
    float: left;
    width: 35px;
    height: 50px;
  }
  
  /*paragraph1*/
  p {
    font-family: Verdana;
    font-size: 16px;
  }

  /*header text box*/
  .HeaderDiv {
    width: 100%;
    padding: 10px;
    margin: 20;
    border: #f74c4c;
    text-align: center; 
    background: #f74c4c;
  }
  /*
 .NavigationDiv {
    width: 100%;
    height: 20px;
    background-color: #ff3333;
    text-align: top center;
    font-size: 18px;
  } */

  /*links*/
  a {
    color: #fff3cc;
    font-family: Verdana;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    padding: 50px;
    word-wrap: normal;
  }

  /*text box*/
  div {
    width: 100%;
    /*border-radius: 5px;*/
    background-color:  #fff3cc;
    text-align: center; 
    text-decoration: none;
  }

  /*logo*/
  img {
    width: 10%;
    text-align: left;
  }

 
  /*Application form*/
  .CareerApplicationDiv {
    font-family: Verdana;
    font-size: 16px;
    size: 25%;
  }